html {
	font-size: $base-font-size;
	background: rgba(225,225,225,.25);
}

body {
	font-size: $base-size;
	margin: 0;
	padding: 0;

}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: rgba(0,0,100,.75);
	&:hover {
		color: rgba(0,0,50,1);
	}
}

.wrapper {
	@include clearfix;
	padding: modular-scale(1, $base-size);
}

.sidebar {
	width: 25%;
	margin: 0;
	float: left;
	border: 1px solid $border-color;
	box-sizing: border-box;
	@include single-box-shadow($shadow-color, 0, 0, $shadow-blur);
	background: white;
	border-radius: 2px;

	@include header
}

.container-wrapper {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	padding-left: modular-scale(1, $base-size);
	float: left;
	width: 75%;

	.container {
		border: 1px solid $border-color;
		border-radius: 2px;
		background: white;
		@include single-box-shadow($shadow-color, 0, 0, $shadow-blur);

		@include header
	}
}