.link-list {
	margin: 0;
	padding: 0;
	list-style: none;

	&.border-top {
		border-top: 1px solid $border-color;
	}

	li {
		border-bottom: 1px solid $border-color-light;
		position: relative;

		&:last-of-type {
			border-bottom: none;
		}

		a {
			display: block;
			padding: modular-scale(.5, $base-size);
		}

		> .button {
			position: absolute;
			top: modular-scale(-1, $base-size);
			right: modular-scale(.5, $base-size);
			z-index: 1;
		}

		> .button-small {
			position: absolute;
			top: modular-scale((-.5), $base-size);
			right: modular-scale(.5, $base-size);
			z-index: 1;
		}

		.button-group {
			padding-top: modular-scale(-1, $base-size);
			padding-right: modular-scale(.5, $base-size);

			.button {
				margin-left: 0;
				margin-right: 0;
			}

			.button-small {
				margin-top: modular-scale(-3, $base-size);
			}
		}

		input[type=text].blend {
			box-sizing: border-box;
			width: 100%;
			outline: none;
			position: relative;
			margin: 0;
			border: none;
			background: none;
			padding: modular-scale(.5, $base-size);
			background: rgba(255,255,255,.90);
			box-shadow: inset 0 0 $base-size 0 rgba(0,0,0,.1);
		}
	}
}