@mixin header {
	.header {
		padding: modular-scale(.5, $base-size);
		border-bottom: 2px solid $border-color;
		font-weight: 700;
		font-size: modular-scale(.5, $base-size);
		color: rgba(0,0,0,.75);

		&.header-small {
			font-size: modular-scale(0, $base-size);
			padding-top: modular-scale(0, $base-size);
			padding-bottom: modular-scale(0, $base-size);
		}
	}
}