.routine {
	padding: modular-scale(.5, $base-size);
	border-bottom: 1px solid $border-color;

	&:last-of-type {
		border-bottom: none;
	}

	p {
		color: rgba(100,100,100,.8);
		line-height: modular-scale(.5, $base-size);
		padding-top: modular-scale(-1.5, $base-size);
	}
}