<div class="routine routine-edit">
	<form {{action "save" on="submit"}}>
    	{{input value=model.name}}

		{{textarea value=model.description}}

		<input type="submit" value="save"/>
        {{#link-to "routine"}}Cancel{{/link-to}}
	</form>
</div>