{{#each routine in routines itemController="routine"}}
	<div class="routine">
		<button {{action "editRoutine"}}>Edit</button>
		<h2 class="routine-title">{{routine.name}}</h2>
		<ul class="workouts-list">
			{{#each workout in routine.workouts}}
				<li>
					{{workout.name}}
				</li>
			{{/each}}
		</ul>
	</div>
{{/each}}

{{outlet routineCreate}}