.plan-details {
	@extend .clearfix;

	padding-bottom: modular-scale(1, $base-size);

	.description {
		box-sizing: border-box;
		width: 50%;
		float: left;
	}

	.quick-schedule {
		box-sizing: border-box;
		width: 50%;
		float: left;

		.quick-schedule-title {
			padding-bottom: modular-scale(-1, $base-size);
		}

		.quick-schedule-item {
			padding: 0 modular-scale(1, $base-size);
			line-height: modular-scale(.5, $base-size);
			padding-bottom: modular-scale(-1, $base-size);
			color: lighten($base-font-color, 30%);
			@extend .clearfix;

			.label {
				color: $base-font-color;
				display: block;
				float: left;
				width: 33%;
			}
			.items {
				display: inline-block;
				float: left;
				width: 66%;
			}
		}

		.message {
			padding: 0 modular-scale(1, $base-size);
		}
	}
}