$max-width: 1024px;
$application-background: image-url('dark_wall.png');

$base-font-size: 62.5%;
$base-size: 1.3rem;
$base-font-color: rgba(50,50,50,1);

$gray: rgba(200,200,200,.95);
$green: rgba(92, 184, 92,.95);
$blue: rgba(66, 139, 202,.95);
$red: rgba(210, 50, 45,.95);

$shadow-color: rgba(0,0,0,.5);
$shadow-blur: modular-scale(1, $base-size);

$border-color: rgba(20,20,20,.25);
$border-color-light: rgba(175,175,175,.5);

$button-default: $gray;
$button-green: $green;
$button-blue: $blue;
$button-red: $red;