<div class="header">{{name}}</div>

<ul class="link-list">
	{{#each workout in workouts}}
		<li>
			{{#link-to "routine.workout" workout}}{{workout.name}}{{/link-to}}
		</li>
	{{/each}}
</ul>
{{#link-to "routine.edit"}}Edit{{/link-to}}